DOCTYPE HTML
html 
body 
title Bienvenue sur RESTO INFO
h2 Bienvenue sur RESTO INFO
p #{lastname} #{firstname}, votre compte a été créé sur la plateforme RESTO INFO
p Vos informations de connexions : 
p   
    strong Email : #{email}
    br
    strong Mot de passe : #{password}
    br
    strong Url de connexion : #{fronturl}