DOCTYPE HTML
html 
body 
title Réinitialisation de mot de passe sur RESTO INFO
h2 Demande de réinitialisation
p #{lastname} #{firstname}, vous avez demandé une réinitialisation de votre mot de passe sur RESTO INFO.
p Cliquez sur le lien suivant pour procéder à la réinitialisation : 
p   
    strong Email : #{email}
    br
    strong Mot de passe : #{password}
    br
    strong Url de connexion : #{fronturl}